# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
    
    - List popular languages for Data Science 
    - Commonly used libraries used by Data Scientists 
    - Table development environment opensource tools 
    - Arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
| -------------|
| JupyterLite | 
| VS Code |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Kishkis Alexandra